---
import ListItem from "../components/list-item.astro";
import thumbnail1 from "../assets/thumbnail-1.jpg";
import { getCollection } from "astro:content";
const articles = await getCollection("article");
---

<html lang='ja'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>2023-codegird-astro-image</title>
  </head>
  <body>
    <h1>2023 CodeGrid Astro Image デモブログ</h1>
    <ul>
      {
        articles.map(({ data: { thumbnail, title } }) => {
          return <ListItem image={thumbnail} title={title} />;
        })
      }
    </ul>
  </body>
</html>
<style>
  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    width: 924px;
    margin: auto;
  }
</style>
