---
import { Image } from "astro:assets";
const { image, title } = Astro.props;
---

<li>
  <a href='#'>
    <Image src={image} alt={`ブログ：${title}のサムネイル画像`} width={300} />
    <h2>{title}</h2>
  </a>
</li>

<style>
  li {
    width: 300px;
    border: 1px solid gray;
    list-style: none;
  }
  h2 {
    padding: 8px;
  }
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: blue;
    text-decoration: underline;
  }
</style>
